<div class="collection-item {{item_width}}">
  <a class="item-link" href="{{ product.url }}">
    <div class="img-wrapper">
    <img src="{{product.featured_image | img_url:'500x500'}}" alt="{{product.title}}" />
    </div>      
    <div class="text-wrapper">
      <p class="title">{{product.title}}</p>
      <div class="price">
        <span class="price-sale">{{ product.price | money }}</span>
        <span class="price-compare">{{ product.compare_at_price | money }}</span>
      </div>
      {% if product.available %}
        <span class="availability on-sale">{{ 'products.product.on_sale' | t }}</span>
      {% else %}
        <span class="availability sold-out">{{ 'products.product.sold_out' | t }}</span>
      {% endif %}
    </div>
  </a>        
</div>