<div class="hs-blog-feed page-width" data-section-id="{{ section.id }}" data-section-type="hs-blog-feed">
  {% if section.settings.title != blank %}
    <header class="section-header text-center">
      <h2>{{ section.settings.title }}</h2>
    </header>
  {% endif %}

  {% if section.settings.show_view_all %}
    <div class="view-all text-center">
      <a href="{{ blog.url }}" class="view-all-btn">
        {{ 'blogs.article.see_all_articles' | t }}
      </a>
    </div>
  {% endif %}  

  {%- assign blog = blogs[section.settings.blog] -%}

  {% if blog.articles_count > 0 %}
      <div class="quotes-wrapper" data-slider>
        <div class="quotes-slider-wrapper" data-slider-container data-products-row={{ section.settings.post_limit }} data-count="{{ blog.articles_count }}">
          <div class="quotes-slider" id="Quotes-{{ section.id }}"  data-slider-track>
              {% for article in blog.articles limit: section.settings.post_limit %}
                <div id="slickSlide{{ block.id }}"
                  class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
                  aria-labelledby="slickDot{{ block.id }}"
                  {{ block.shopify_attributes }}
                  data-slider-slide-index="{{ forloop.index0 }}"
                  data-slider-item>
                  <div class="article-wrapper">
                    <article>
                      <header>
                        <a href="{{ article.url }}" class="article__link">
                          {% if article.image %}
                            <div class="img-wrapper">
                              <img src="{{ article.image.src | img_url: '500x' }}">
                            </div>                               
                          {% endif %}

                          <h3 class="article__title">
                            {{ article.title }}
                          </h3>                          
                        </a>                        
                      </header>

                      {%- if section.settings.show_category -%}
                        {% if article.tags.size > 0 %}
                          <div class="article__tags">
                            <span>{{ 'blogs.article.category' | t }} </span>
                            <ul class="list--inline">
                              {% for tag in article.tags %}
                                <li>
                                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__tag">{{ tag }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                      {%- endif -%}

                      <div class="article__excerpt">
                        {% if article.excerpt.size > 0 %}
                          {{ article.excerpt }}
                        {% else %}
                          {{ article.content | strip_html | truncate: 150 }}
                        {% endif %}
                      </div>                      

                      <a href="{{ article.url }}" class="btn btn--tertiary btn--small">
                        {{ 'blogs.article.read_article' | t }}
                      </a>
                    </article>
                  </div>                    
                </div>
              {% endfor %}
          </div>
        </div>
          
      </div>
  {% else %}
    <div class="grid grid--uniform grid--blog">
      {% for i in (1..section.settings.post_limit) %}
        <div class="grid__item medium-up--one-third">
          <div class="article__grid-meta">
            <h3 class="article__title">
              <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
            </h3>

            {% if section.settings.blog_show_author %}
              <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
            {% endif %}

            <div class="rte article__grid-excerpt">
              {{ 'homepage.onboarding.blog_excerpt' | t }}
            </div>

            <ul class="list--inline article__meta-buttons">
              <li>
                <a href="{{ article.url }}" class="btn btn--tertiary btn--small">
                  {{ 'blogs.article.read_more' | t }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %} 
</div>

{% schema %}
    {
        "name": "HS Blog Feed",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Heading",
              "default": "Now on the blog..."
            },
            {
              "id": "blog",
              "type": "blog",
              "label": "Blog"
            },
            {
              "type": "range",
              "id": "post_limit",
              "label": "Posts",
              "min": 1,
              "max": 5,
              "step": 1,
              "default": 3
            },
            {
              "type": "checkbox",
              "id": "show_view_all",
              "label": "Show 'View all' button",
              "default": false
            },
            {
              "type": "checkbox",
              "id": "show_category",
              "label": "Show category",
              "default": false
            }
        ],
        "presets": [
            {
                "name": "HS Blog Feed",
                "category": "Hamsa",
                "settings": {
                  "blog": "News",
                  "post_limit": 3    
                }              
            }
        ]
    }
{% endschema %}
