{%- assign collection = collections[section.settings.collection] -%}

<section class="hs-featured-collection" data-section-id="{{ section.id }}"data-section-type="hs-featured-collection">
<div class="page-width">
  {% if section.settings.heading != blank %}
    <h3 class="heading">{{section.settings.heading}}</h3>
  {% endif %}

  {%- if collection != blank -%}
    <ul class="slick-dots" data-slider-indicators>
      {%- for product in collection.products -%}
        <li{% if forloop.first %} class="slick-active"{% endif %} data-slider-indicator>
          <button id="slickDot{{ block.id }}"
            aria-label="{{ 'sections.slideshow.load_slide' | t: slide_number: forloop.index }}"
            data-slide-number="{{ forloop.index0 }}"
            aria-controls="slickSlide{{ block.id }}"></button>
        </li>
      {%- endfor -%}
    </ul>

    <div class="slideshow-wrapper" data-slider>         
      <div class="quotes-slider-wrapper" data-slider-container
       data-products-row={{ section.settings.products-row }} 
       data-products-row-mobile={{ section.settings.products-row-mobile }}
       data-autoplay={{ section.settings.autoplay }}
       data-play-speed={{ section.settings.play-speed }}
      >
        <div class="quotes-slider" data-slider-track>
          {%- for product in collection.products -%}          
              <div
               class="quotes-slide {% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
               {{ block.shopify_attributes }}
               data-slider-slide-index="{{ forloop.index0 }}"
               data-slider-item>
                {% include 'hs-featured-collection-product', product: product %}                 
              </div>                               
          {% endfor %} 
        </div>          
      </div>
           
    </div>

  {%- else -%}
    {%- case section.settings.products-row -%}
      {%- when 2 -%}
        {%- assign item_width = "one-half" -%}
      {%- when 3 -%}
        {%- assign item_width = "one-third" -%}
      {%- when 4 -%}
        {%- assign item_width = "one-quarter" -%}      
    {%- endcase -%} 
    <div class="collection-wrapper">
      {% for i in (1..section.settings.products-row) %}
        <div class="collection-item {{item_width}}">
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          <div class="text-wrapper">
            <p class="title">{{'hs-feature-collection.product_title' |t }}</p>
            <span class="price">{{'hs-feature-collection.price' | t}}</span>
          </div>      
        </div>
      {% endfor %}     
    </div>
  {%- endif -%}

</div> 
</section>


{% schema %}
  {
    "name":"HS featured collection",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Check out our new collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "products-row",
        "label": "Products per row (desktop)",
        "min": 1,
        "max": 6,
        "default": 4
      },
      {
        "type": "select",
        "id": "products-row-mobile",
        "options": [
            { "value": "1", "label": "1"},
            { "value": "2", "label": "2"}
        ],
        "label": "Products per row (mobile)",
        "default": "1"
      }, 
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "AutoPlay",
        "default": false
      },
      {
        "type": "range",
        "id": "play-speed",
        "label": "Change slide every",
        "min": 1,
        "max": 5,
        "default": 2,
        "unit": " s"
      } 
    ],
    "presets": [
      {
        "name": "HS featured collection",
        "category": "Hamsa"  
      }
    ]  
  }
{% endschema %}

