{% assign product = all_products[section.settings.product] %}

<div class="hs-featured-product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="hs-featured-product" data-ajax-enabled="{{ settings.enable_ajax }}">
    {% assign current_variant = product.selected_or_first_available_variant %}

    <div class="product-wrapper">
        <div class="left">
        {% if product == empty %}
            {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
            {%- if current_variant.featured_media == blank -%}
                <img src={{ product.featured_media | img_url: '800x' }}>
            {%- else -%}
                <img src={{ current_variant.featured_media | img_url: '800x' }}>
            {%- endif -%}            
        {% endif %}
        </div>

        <div class="right">
            <div class="product-info-wrapper">
            {% if product != empty %}
                    <div class="product-title">{{ product.title }}</div>
            {% else %}
                    <div class="product-title">{{ 'homepage.onboarding.product_title' | t }}</div>
            {% endif %}  

            <div class="price-wrapper">
                {% include 'product-price', variant: current_variant, product: product %}
            </div>  

            {%- if product -%}
                <div class="product-description">
                    {{ product.description }}
                </div>  
            {%- endif -%}            

            {% if product != empty %}
                {% capture "form_classes" -%}
                product-form product-form-{{ section.id }}
                {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
                {%- endcapture %}

                {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
                {% unless product.has_only_default_variant %}
                    <div class="product-form__controls-group">
                        {% for option in product.options_with_values %}
                            <div class="selector-wrapper js">
                            <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">
                                {{ option.name }}:
                            </label>
                            <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                                {% for value in option.values %}
                                    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        {% endfor %}
                    </div>
                {% endunless %}

                <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                    <option value="{{ variant.id }}"
                        {%- if variant == current_variant %} selected="selected" {%- endif -%}
                    >
                        {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                    </option>
                {% endfor %}
                </select>

                <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden" data-error-message-wrapper role="alert">
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                </div>

                <div class="product-link" >
                    <a class="view-all" href={{ product.url }}>{{ section.settings.link_label }}</a>
                </div>

                <div class="product-form__controls-group product-form__controls-group--submit">
                    <div class="product-form__item--submit">
                        <button type="submit" name="add"
                            {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                            aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                            class="submit-product-btn product-form__cart-submit"
                            aria-haspopup="dialog"
                            data-add-to-cart>
                            <span data-add-to-cart-text>
                            {% unless current_variant.available %}
                            {{ 'products.product.sold_out' | t }}
                            {% else %}
                            {{ 'products.product.add_to_cart' | t }}
                            {% endunless %}
                            </span>
                            <span class="hide" data-loader>
                            {% include 'icon-spinner' %}
                            </span>
                        </button>
                    </div>
                </div>
                {% endform %}

                
                
            {% else %}
                <button class="submit-product-btn product-form__cart-submit" disabled>
                <span data-add-to-cart-text>
                    {{ 'products.product.sold_out' | t }}
                </span>
                </button>
            {% endif %}

            {%- comment -%}
            Live region for announcing updated price and availability to screen readers
            {%- endcomment -%}
            <p class="visually-hidden" data-product-status
            aria-live="polite"
            role="status"
            ></p>

            {%- comment -%}
            Live region for announcing that the product form has been submitted and the
            product is in the process being added to the cart
            {%- endcomment -%}
            <p class="visually-hidden" data-loader-status
            aria-live="assertive"
            role="alert"
            aria-hidden="true"
            >{{ 'products.product.loader_label' | t }}</p>
        </div>
        </div>
        
    </div>
    
</div>


{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
   {
      "name": "HS Featured Product",
      "settings": [
         {
            "id": "product",
            "type": "product",
            "label": "Product"
         },
         {
            "id": "link_label",
            "type": "text",
            "label": "Label for link to product",
            "default": "View product details"
         }
      ],
      "presets": [
         {
            "name": "HS Featured Product",
            "category": "Hamsa"
         }
      ]
   }
{% endschema %}