<footer class="hs-footer">
    <div class="upper page-width">
        <div class="upper-wrapper">
            <div class="logo">
                <a class="logo-link" href="{{ routes.root_url }}">
                    {%- if section.settings.logo -%}
                        <img src="{{ section.settings.logo | img_url: '300x300' }}" style="max-width: {{ section.settings.logo_max_width }}px">     
                    {%- else -%}
                        {{ shop.name }}
                    {%- endif -%}
                </a>                                
            </div>

            <div class="newsletter">
                {%- if section.settings.newsletter-heading != blank -%}
                    <h3 class="newsletter-heading">{{ section.settings.newsletter-heading }}</h3>
                {%- endif -%}
                {%- assign formId = 'ContactFooter' -%}
                {% form 'customer', id: formId, novalidate: 'novalidate' %}
                <div class="input-group">
                    <input type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
                    value="{{ form.email }}"
                    placeholder="{{ 'general.newsletter_form.your_email' | t }}"
                    >
                    <span class="input-group__btn">
                    <button type="submit" class="btn newsletter__submit" name="commit" >
                        <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.ok' | t }}</span>
                    </button>
                    </span>
                </div>                   
                {% endform %}
                {%- if section.settings.newsletter-desc != blank -%}
                    <div class="newsletter-desc">
                        <p class="newsletter-desc-text">{{ section.settings.newsletter-desc }}</p>                        
                        {%- if section.settings.newsletter-icon -%}
                            <i class="fas fa-praying-hands"></i>
                        {%- endif -%}
                    </div>   
                {%- endif -%}                 
            </div> 
            
            {%- assign socials = "Facebook Twitter Pinterest Instagram Tumblr Snapchat YouTube Vimeo" | split: ' ' -%} 
            {%- if
                settings.social_twitter_link != blank
                or settings.social_facebook_link != blank
                or settings.social_pinterest_link != blank
                or settings.social_instagram_link != blank
                or settings.social_tumblr_link != blank
                or settings.social_snapchat_link != blank
                or settings.social_youtube_link != blank
                or settings.social_vimeo_link != blank
            -%}
                {%- assign social_icons = true -%}
            {%- endif -%}

            {%- if social_icons -%}
                <div class="social-icons">
                    <ul class="social-icons-list">
                        {%- for social in socials -%}
                        {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                        {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                        {%- if settings[social_link] != blank -%}
                            <li class="social-icons__item">
                            <a class="social-icons__link" href="{{ settings[social_link] | escape }}">
                                {%- include icon_link -%}
                                <span class="icon__fallback-text">{{ social }}</span>
                            </a>
                            </li>
                        {%- endif -%}
                        {%- endfor -%}
                    </ul>               
                </div>
            {%- endif -%}           
        </div>
    </div>

    <hr>

    <div class="lower">
        {%- if section.blocks.size > 0 -%}
           <div class="lower-wrapper">
                {%- for block in section.blocks -%}
                    <div class="menu-wrapper" {{ block.shopify_attributes }}>
                        {%- if block.settings.title -%}
                            <h4 class="menu-title">{{ block.settings.title }}</h4>
                        {%- endif -%}
                        {%- assign footer_linklist = block.settings.menu -%}
                        <ul class="linklist">
                            {%- for link in linklists[footer_linklist].links -%}
                                <li class="linklist-item">
                                    <a href="{{ link.url }}">
                                        {{ link.title }}
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>                    
                {%- endfor -%}
            </div> 
        {%- endif -%}                
    </div>

</footer>

{% schema %}
    {
        "name": "HS Footer",
        "settings": [
            {
                "type": "header",
                "content": "Logo"
            },
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo Image"
            },
            {
                "type": "range",
                "id": "logo_max_width",
                "label": "Custom logo width",
                "min": 50,
                "max": 250,
                "step": 5,
                "unit": "px",
                "default": 100
            },
            {
                "type": "header",
                "content": "Newsletter"
            },
            {
                "type": "text",
                "id": "newsletter-heading",
                "label": "Newsletter Heading",
                "default": "Subscribe to our newsletter!"
            },
            {
                "type": "text",
                "id": "newsletter-desc",
                "label": "Newsletter description",
                "default": "We respect your privacy"
            },
            {
                "type": "checkbox",
                "id": "newsletter-icon",
                "label": "Show icon",
                "default": true
            }
        ],
        "max_blocks": 3,
        "blocks":[
            {
                "type": "link_list",
                "name": "Menu",
                "settings":[
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Heading",
                        "default": "Menu"
                    },
                    {
                        "type": "link_list",
                        "id": "menu",
                        "label": "Menu",
                        "default": "main-menu"
                    }
                ]
            }
        ]
        
    }
{% endschema %}
