{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="hs-header-section" class="hs-header-section" data-header-section>
    <header class="site-header" >
        <div class="upper">
            <div class="upper-wrapper">
                {%- assign socials = "Facebook Instagram" | split: ' ' -%} 
                {%- if settings.social_facebook_link != blank
                    or settings.social_instagram_link != blank -%}
                    <div class="social-icons">
                        <ul class="social-icons-list">
                            {%- for social in socials -%}
                                {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                                {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                                {%- if settings[social_link] != blank -%}
                                    <li class="social-icons__item">
                                        <a class="social-icons__link" href="{{ settings[social_link] | escape }}">
                                            {%- include icon_link -%}
                                            <span class="icon__fallback-text">{{ social }}</span>
                                        </a>
                                    </li>
                                {%- endif -%}                                                          
                            {%- endfor -%}
                        </ul>               
                    </div>
                {%- endif -%}
                
                <div class="account-wrapper">
                    {% if shop.customer_accounts_enabled %}
                        {% if customer %}
                        <a href="{{ routes.account_url }}" class="my-account">
                            <span>{{ "customer.account.title" | t }}</span>
                            {% include 'icon-login' %}
                            <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
                        </a>
                        {% else %}
                        <a href="{{ routes.account_login_url }}" class="my-account">
                            <span>{{ "customer.account.title" | t }}</span>
                            {% include 'icon-login' %}
                            <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
                        </a>
                        {% endif %}
                    {% endif %}

                    <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
                        <span>{{ "cart.general.shopping_bag" | t }}</span>
                        {% include 'icon-cart' %}
                        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                        <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                        <span data-cart-count>{{ cart.item_count }}</span>
                        <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                        </div>
                    </a>
                </div>
            </div> 
            <div class="upper-wrapper-mobile">
                <h3>{{ section.settings.promo-text }}</h3>
            </div>            
        </div>
        <div class="lower">
            <div class="lower-wrapper">
                <div class="logo">
                    <a class="logo-link" href="{{ routes.root_url }}">
                        {%- if section.settings.logo -%}
                            <img src="{{ section.settings.logo | img_url: '300x300' }}" style="max-width: {{ section.settings.logo_max_width }}px">     
                        {%- else -%}
                            {{ shop.name }}
                        {%- endif -%}
                    </a>                                
                </div>

                <nav class="nav-bar" id="AccessibleNav">
                    {% include 'site-nav', linklist:  section.settings.main_linklist %}
                </nav>
                
                <div class="search-box">
                    <div class="search-box-wrapper">
                        <input class="search-input" placeholder="Search">
                        <button type="button" class="search-btn site-header__search-toggle js-drawer-open-top" data-predictive-search-open-drawer>
                            {% include 'icon-search' %}
                            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
                        </button>
                        <div class="mobile-icons-wrapper">
                            <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart">
                                {% include 'icon-cart' %}
                                <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
                                <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                                <span data-cart-count>{{ cart.item_count }}</span>
                                <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                                </div>
                            </a>
                            {% unless linklists[section.settings.main_linklist] == blank %}
                                <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open">
                                {% include 'icon-hamburger' %}
                                {% include 'icon-close' %}
                                </button>
                            {% endunless %}
                        </div>                   
                    </div>                
                </div>
                
            </div>            
        </div>

        <nav class="mobile-nav-wrapper medium-up--hide">
            <ul id="MobileNav" class="mobile-nav-bar">
                {% for link in linklists[section.settings.main_linklist].links %}
                {%- assign outerLoopIndex = forloop.index -%}

                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                    {% if link.links != blank %}
                    {% capture child_list_handle %}{{ link.handle }}-{{ outerLoopIndex }}{% endcapture %}
                    <button type="button" class="btn--link js-toggle-submenu mobile-nav__link{% if link.child_active %} mobile-nav__link--active{% endif %}" data-target="{{ child_list_handle }}" data-level="1" aria-expanded="false">
                        <span class="mobile-nav__label">{{ link.title | escape }}</span>
                        <div class="mobile-nav__icon">
                        {% include 'icon-chevron-right' %}
                        </div>
                    </button>
                    <ul class="mobile-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
                        <li class="visually-hidden" tabindex="-1" data-menu-title="2">
                        {{- link.title }} {{ 'layout.navigation.menu' | t -}}
                        </li>
                        <li class="mobile-nav__item border-bottom">
                        <div class="mobile-nav__table">
                            <div class="mobile-nav__table-cell mobile-nav__return">
                            <button class="btn--link js-toggle-submenu mobile-nav__return-btn" type="button" aria-expanded="true" aria-label="{{ link.title }}">
                                {% include 'icon-chevron-left' %}
                            </button>
                            </div>
                            <span class="mobile-nav__sublist-link mobile-nav__sublist-header mobile-nav__sublist-header--main-nav-parent">
                            <span class="mobile-nav__label">{{ link.title | escape }}</span>
                            </span>
                        </div>
                        </li>

                        {% for childlink in link.links %}
                        <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                            {% if childlink.links != blank %}
                            {% capture grandchild_list_handle %}{{ childlink.handle }}-{{ outerLoopIndex }}-{{ forloop.index }}{% endcapture %}
                            <button type="button" class="btn--link js-toggle-submenu mobile-nav__link mobile-nav__sublist-link" data-target="{{ grandchild_list_handle }}" aria-expanded="false">
                                <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                                <div class="mobile-nav__icon">
                                {% include 'icon-chevron-right' %}
                                </div>
                            </button>
                            <ul class="mobile-nav__dropdown" data-parent="{{ grandchild_list_handle }}" data-level="3">
                                <li class="visually-hidden" tabindex="-1" data-menu-title="3">
                                {{- childlink.title }} {{ 'layout.navigation.menu' | t -}}
                                </li>
                                <li class="mobile-nav__item border-bottom">
                                <div class="mobile-nav__table">
                                    <div class="mobile-nav__table-cell mobile-nav__return">
                                    <button type="button" class="btn--link js-toggle-submenu mobile-nav__return-btn" data-target="{{ child_list_handle }}" aria-expanded="true" aria-label="{{ childlink.title }}">
                                        {% include 'icon-chevron-left' %}
                                    </button>
                                    </div>
                                    <a href="{{ childlink.url }}"
                                    class="mobile-nav__sublist-link mobile-nav__sublist-header"
                                    {% if childlink.current %} aria-current="page"{% endif %}
                                    >
                                    <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                                    </a>
                                </div>
                                </li>
                                {% for grandchildlink in childlink.links %}
                                <li class="mobile-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                                    <a href="{{ grandchildlink.url }}"
                                    class="mobile-nav__sublist-link"
                                    {% if grandchildlink.current %} aria-current="page"{% endif %}
                                    >
                                    <span class="mobile-nav__label">{{ grandchildlink.title | escape }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <a href="{{ childlink.url }}"
                                class="mobile-nav__sublist-link"
                                {% if childlink.current %} aria-current="page"{% endif %}
                            >
                                <span class="mobile-nav__label">{{ childlink.title | escape }}</span>
                            </a>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a href="{{ link.url }}"
                        class="mobile-nav__link{% if link.active %} mobile-nav__link--active{% endif %}"
                        {% if link.current %} aria-current="page"{% endif %}
                    >
                        <span class="mobile-nav__label">{{ link.title | escape }}</span>
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>

</div>

{% schema %}
    {
        "name": "HS Header",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo Image"
            },
            {
                "type": "range",
                "id": "logo_max_width",
                "label": "Custom logo width",
                "min": 50,
                "max": 200,
                "step": 5,
                "unit": "px",
                "default": 100
            },
            {
                "type": "link_list",
                "id": "main_linklist",
                "label": "Menu",
                "default": "main-menu"
            },
            {
                "type": "text",
                "id": "promo-text",
                "label": "Promotion text at mobile view",
                "default": "Add promotion information here"
            }
        ]
    }
{% endschema %}
