<div data-section-id="{{ section.id }}" data-section-type="slideshow-section" class="hs-slider">
  
  {%- if section.blocks.size > 0 -%}
    <div id="SlideshowWrapper-{{ section.id }}" class="slideshow-wrapper hs-slideshow-wrapper" data-slider>
      <div class="slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-slider-container data-autorotate="{{ section.settings.autoplay }}" data-speed="{{ section.settings.slide-interval | times: 1000 }}">
        {%- for block in section.blocks -%}         
          <div id="slickSlide-{{ block.id }}" class="slideshow__slide slideshow__slide--{{ block.id }}{% if forloop.first %} slideshow__slide--active{% endif %}" data-slider-slide-index="{{ forloop.index0 }}" data-slider-item {{ block.shopify_attributes }}>
            <div class="slide-wrapper">
              {% if block.settings.image == blank %}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
              {% else %}
                  <img src="{{ block.settings.image | img_url: '500x500'}}"/>
              {% endif %}
              
              <div class="text-wrapper">                      
                {% unless block.settings.heading == blank and block.settings.text == blank %} 
                    <ul class="slideshow__text-content-list">
                      {%- unless block.settings.heading == blank -%}
                        <li class="heading">                  
                            {{ block.settings.heading}}
                        </li>                        
                      {%- endunless -%}
                      {%- unless block.settings.text == blank -%}
                        <li class="text">
                            {{ block.settings.text}}
                        </li>
                      {%- endunless -%}
                      
                      {%- assign show_link_button = false -%}
                      {%- if block.settings.button_label != blank and block.settings.button_link != blank -%}
                          {%- assign show_link_button = true -%}
                      {%- endif -%}
                      {%- if show_link_button -%}
                        <li class="slideshow__btn-wrapper">
                          <a href="{{ block.settings.button_link }}" class="button" target="_blank">
                              {{ block.settings.button_label | escape }}
                          </a>
                        </li>
                      {%- endif -%}
                  </ul>
                {% endunless %}                                   
              </div>              
            </div>
            
          </div>
        {%- endfor -%}
      </div>

      <ul class="slick-dots" data-slider-indicators>
        {%- for block in section.blocks -%}
          <li{% if forloop.first %} class="slick-active"{% endif %} data-slider-indicator>
            <a href="#Slideshow-{{ section.id }}" aria-label="{{ 'sections.slideshow.load_slide' | t: slide_number: forloop.index }}" data-slide-number="{{ forloop.index0 }}" aria-controls="slickSlide-{{ block.id }}"></a>
          </li>
        {%- endfor -%}
      </ul>

    </div> 
    
  {%- endif -%}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "HS Slider",
  "max_blocks": 6,
  "settings": [
     {
       "type": "checkbox",
       "id": "autoplay",
       "label": "AutoPlay",
       "default": false
     },
     {
       "type": "range",
       "id": "slide-interval",
       "min": 2,
       "max": 5,
       "step": 1,
       "unit": "s",
       "label": "Change slide every:",
       "default": 2
     }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "HS slider",
      "settings": [
        {
		  "id":"image",
		  "type":"image_picker",
		  "label":"Image"			
		},        
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Brand new fragrance for you"
        },
        {
          "id":"text",
          "type":"text",
          "label":"Text",
          "default":"Discover our new experience"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default":"I want it!"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"        
        }	 
      ]
    }
  ],
  "presets": [
    {
      "name": "HS Slider",
      "category": "Hamsa",      
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
