<div class="hs-text-with-image">
  <div class="page-width">
    <div class="content-wrapper">
      <div class="img-wrapper">
        {% if section.settings.image == blank %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% else %}
          <img src="{{ section.settings.image | img_url: '700x'}}"/>
        {% endif %}
      </div>      
      
      <div class="text-wrapper">                      
        {% unless section.settings.heading == blank and section.settings.text == blank %} 
          <div class="text-content">
            {%- unless section.settings.heading == blank -%}
              <h3 class="heading">                  
                  {{ section.settings.heading}}
              </h3>                        
            {%- endunless -%}
            {%- unless section.settings.text == blank -%}
              <p class="text">
                  {{ section.settings.text}}
              </p>
            {%- endunless -%}
            
            {%- assign show_link_button = false -%}
            {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
                {%- assign show_link_button = true -%}
            {%- endif -%}
            {%- if show_link_button -%}
              <div class="btn-wrapper">
                <a href="{{ section.settings.button_link }}" class="button" target="_blank">
                  {{ section.settings.button_label}}
                </a>
              </div>
            {%- endif -%}
          </div>
        {% endunless %}                                   
      </div>              
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "HS Text with image",
  "settings": [
        {
          "id":"image",
          "type":"image_picker",
          "label":"Image"			
        },        
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Check out our new collection"
        },
        {
          "id":"text",
          "type":"text",
          "label":"Text",
          "default":"Excerpt from the article. Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default":"See all the collection"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"        
        }	 
  ],
  "presets": [
    {
      "name": "HS Text with image",
      "category": "Hamsa"      
    }
  ]
}
{% endschema %}
