<div class="hs-text-blocks page-width" data-section-id="{{ section.id }}" data-section-type="hs-text-blocks">
    {% if section.blocks.size > 0 %}
        <div class="quotes-wrapper" data-slider>
            <div class="quotes-slider-wrapper" data-slider-container>
                <div class="quotes-slider" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}" data-slider-track>
                    {% for block in section.blocks %}
                        <div id="slickSlide{{ block.id }}"
                            class="quotes-slide quotes-slide--{{ block.id }}{% if section.blocks.size == 1 %} quotes-slide--single{% endif %}"
                            aria-labelledby="slickDot{{ block.id }}"
                            {{ block.shopify_attributes }}
                            data-slider-slide-index="{{ forloop.index0 }}"
                            data-slider-item>
                                <div class="text-wrapper">
                                    {%- if block.settings.heading -%}
                                        <h3>{{ block.settings.heading }}</h3>
                                    {%- endif -%}
                                    {%- if block.settings.description -%}
                                        <p>{{ block.settings.description }}</p>
                                    {%- endif -%}
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
           
        </div>
    {% else %}
        {% include 'no-blocks' %}
    {% endif %}
</div>

{% schema %}
    {
        "name": "HS Text Blocks",
        "settings": [

        ],
        "blocks":[
            {
                "type": "text-block",
                "name": "Text Block",
                "settings":[
                    {
                        "type": "textarea",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Add heading here"
                    },
                    {
                        "type": "text",
                        "id": "description",
                        "label": "Description",
                        "default": "Add description here"
                    }
                ]
            }
        ],
        "max_blocks": 3,
        "presets": [
            {
                "name": "HS Text Blocks",
                "category": "Hamsa",
                "blocks":[
                    {
                        "type": "text-block"
                    },
                    {
                        "type": "text-block"
                    },
                    {
                        "type": "text-block"
                    }
                ]                
            }
        ]
    }
{% endschema %}
