{%- case section.blocks.size -%}
    {%- when 1 -%}
        {%- assign item-width = "full-width" -%}
    {%- when 2 -%}
        {%- assign item-width = "one-half" -%}
    {%- when 3 -%}
        {%- assign item-width = "one-third" -%}    
{%- endcase -%}


<div class="hs-text-with-icon">
    <div class="page-width">
        {%- if section.blocks.size > 0 -%}            
            <div class="container">
                {%- for block in section.blocks -%}
                    <div class="item {{ item-width }}">
                        <div class="icon-wrapper">
                            {%- case block.settings.icon -%}
                                {%- when "giftbox" -%}
                                    <i class="fas fa-gift"></i>
                                {%- when "sync" -%}
                                    <i class="fas fa-sync-alt"></i>
                                {%- when "lock" -%}
                                    <i class="fas fa-lock"></i>
                            {%- endcase -%}
                        </div>
                        <div class="text-wrapper">
                            <div class="text-content">
                                {%- if block.settings.title -%}
                                <h2 class="title"> {{ block.settings.title }}</h2>
                                {%- endif -%}
                                {%- if block.settings.description -%}
                                    <p class="description"> {{ block.settings.description }}</p>
                                {%- endif -%}  
                            </div>                     
                        </div>
                    </div> 
                {%- endfor -%}                    
            </div>
            
        {%- else -%}
            {% include 'no-blocks' %}
        {%- endif -%}
    </div>
</div>

{% schema %}
    {
        "name": "HS Text with icon",
        "settings": [
            
        ],
        "max_blocks": 3,
        "blocks":[
            {
                "type": "text-with-icon",
                "name": "Text with icon",
                "settings":[
                    {
                        "type": "select",
                        "id": "icon",
                        "label": "Icon",
                        "options": [
                            {
                            "group": "Delivery",
                            "value": "giftbox",
                            "label": "Giftbox"
                            },
                            {
                            "group": "Return",
                            "value": "sync",
                            "label": "Sync"
                            },
                            {
                            "group": "Payment",
                            "value": "lock",
                            "label": "Lock"
                            }                            
                        ],
                        "default": "giftbox"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Add title here"
                    },
                    {
                        "type": "text",
                        "id": "description",
                        "label": "Description",
                        "default": "Add description here"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "HS Text with icon",
                "category": "Hamsa",
                "blocks": [
                    {
                        "type": "text-with-icon"
                    },
                    {
                        "type": "text-with-icon"
                    },
                    {
                        "type": "text-with-icon"
                    }
                ]
            }
        ]
    }
{% endschema %}
